@charset "UTF-8";
/* CSS Document */

body { margin: 0; padding: 0; background: url(../img/header.png) top center no-repeat; }
img { border: none !important; }

.container { width: 960px; margin: 0 auto; }

.header { float: left; width: 930px; height: 60px; padding: 15px; margin-top: 5px; background: #FFFFFF; }
.header .logo { float: left; }
.header .navigation { float: right; }
.header .navigation ul { float: left; margin: 0; padding: 0; list-style: none; }
.header .navigation ul li { float: left; padding-left: 15px; margin-left: 15px; border-left: solid 1px #F4F4F4; line-height: 20px; padding-top: 20px; padding-bottom: 20px; }
.header .navigation ul li a { text-transform: uppercase; font-family: "caracasregular"; font-size: 16px; text-decoration: none; color: #000000; }
.header .navigation ul li a:hover { color: #007BFF; }

.unit { float: left; width: 930px; padding-left: 15px; padding-right: 15px; margin-top: 30px; margin-bottom: 40px; }
.unit .model { float: left; width: 100%; font-size: 48px; font-family: "caracaslight"; color: #FFFFFF; margin-bottom: 20px; margin-top: 15px; }
.unit .serial { float: left; width: 100%; font-size: 14px; font-family: "caracasregular"; color: #FFFFFF; text-transform: uppercase; line-height: 16px; padding-left: 22px; background: url(../img/icon_sn.png) top left no-repeat; margin-bottom: 10px;}
.unit .manufacturing { float: left; width: 100%; font-size: 14px; font-family: "caracasregular"; color: #FFFFFF; text-transform: uppercase; line-height: 16px; padding-left: 22px; background: url(../img/icon_date.png) top left no-repeat; margin-bottom: 10px; }

table {
	float: left;
	width: 100%;
	border: solid 1px #ECECEC;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}

th {
	background: #2499D5;
	color: #FFFFFF;
	text-align: center;
	font-weight: normal;
	font-size: 15px;
	font-family: "caracasregular";
	border: none;
	text-transform: uppercase;
	padding-top: 15px;
	padding-bottom: 15px;
}

td {
	background: #FFFFFF;
	color: #000000;
	text-align: center;
	font-weight: normal;
	font-size: 18px;
	font-family: "caracasregular";
	border: none;
	text-transform: uppercase;
	padding-top: 15px;
	padding-bottom: 15px;
}

#localstats th {
	width: 160px;
}

#poolstats th {
	width: 320px;
}
	
	